<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="notice">
    <meta name="author" content="O MY BRAND">

    <title>Caricature Ma-kie notice</title>

    <!-- Custom CSS -->
    <link href="/chm/assets_app/css/notice.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/chm/assets_app/css/bootstrap_notice.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/chm/assets_app/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Page Content -->
    <div id="contents" class="container">
    	 <!-- Content Row -->
        <div class="row" id="notice">
            <div class="col-lg-12" id="notice_article">
                <!--panel-group start-->
                <div class="panel-group" id="accordion">
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                            	<div class="dropdown">
                                    <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">캐리커쳐 마키는 어떤 서비스 인가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> 오마이브랜드의 대표 서비스 중 하나인 캐리커쳐 마키는<strong>[맞춤형 캐리커쳐 제작 서비스]</strong>입니다.
 전문 캐리커쳐 작가들의 다양한 스타일 중 자신이 원하는 스타일을 선택하여
자신과 꼭 닮은 캐리커쳐를 실물보다 더욱 아름답게 제작할 수 있습니다.
당신의 추억을 보다 아릅답게 간직하세요!
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
                                	<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[그림]캐리커쳐 제작과정이 알고 싶어요</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p><img src="/chm/assets_app/imgs/img_faq_02_01.jpg">
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
                                	<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[그림]작업기간은 얼마나 걸리나요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>작업기간은 작가님들의 작업속도, 작업대기량 등 여러가지 변수에 따라서 각각 달라집니다.<br><br>
                                저희 캐리커쳐 마키에서는 완성작을 고객님들이 필요로 하는 날짜에 캐리커쳐를 완성하기 위해서<strong>[작품완성 예상날짜]</strong>와 <strong>[원하는 완성날짜 선택]</strong>시스템을 제공하고 있습니다.<br>
                                <img src="/chm/assets_app/imgs/img_faq_03_01.jpg">
                                작품완성 예상날짜는<strong>[스타일 선택하기</strong>와<strong>[스타일상세보기]</strong>에서 확인이 가능하며,캐리커쳐 주문시 완성작을 받을 예상날짜를 확인하실 수 있습니다.
                                <img src="/chm/assets_app/imgs/img_faq_03_02.jpg">
                                원하는 완성날짜는 <strong>[예약하기 페이]</strong>에서 선택이 가능하며 고객님이 받고싶으신 날짜를 직접 선택하실 수 있습니다.<br>
                                <span class="pink_text">(단 작품완성 예상날짜 이전의 날짜는 선택이 불가능합니다)</span>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
                                    <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[그림]완성작이 마음에 들지 않으면 어떻게 하죠?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>완성작이 마음에 들지 않을 시에는 1회 수정이 가능합니다. 컴펌 방법은 <strong>[캐리커쳐마키 카카오아이디]</strong>로 문의를 해주시면됩니다.<br>
<span class="pink_text">(단 수정요청이 예약시 요구하신 요구사항을 변경하는 것 이라면 수정이 불가능 합니다.)</span><br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
			         <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[예약]예약하기는 무엇인가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>예약하기 기능은 고객님들과 작가님들의 원할한 소통을 위해서 도입한 시스템입니다. 고객님들은 예약을 통해서 작가님들에게 <strong>[요구사항을 전달]</strong>할 수 있습니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
			     <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[예약]예약대기는 무엇인가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>고객님께서 <strong>[주문한 내용]</strong>을 작가님께서 <strong>[검토]</strong>하시는 과정입니다. 작가님께서 작업가능 여부를 판단하여 작업이 가능하다고 판단하시면 예약이 수락됩니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
			     <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[예약]예약거절은 무엇인가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>작가님이 고객님께서 주문하신 내용의 작업가능 여부를 판단하여 <strong>[작업이 불가능]</strong>하다고 판단, 예약이 거절된 상태입니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
				<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[주문]그림 주문은 어떻게 할 수 있나요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse8" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>저희 캐리커쳐 마키에서는 고객님께서 원하시는 요구사항이 반영된 캐리커쳐 제작을 위해 <strong>[예약 후 결제]</strong> 시스템을 제공하고 있습니다.<br>
                                   <img src="/chm/assets_app/imgs/img_faq_08_01.jpg">
                                   <img src="/chm/assets_app/imgs/img_faq_08_02.jpg">
                                   <img src="/chm/assets_app/imgs/img_faq_08_03.jpg">
                                   <img src="/chm/assets_app/imgs/img_faq_08_04.jpg">
                                   <br>예약신청을 하게 되면 작가님께서 <strong>[고객님이 요청하신 내용]</strong>들을 <strong>[검토]</strong>한 후 작업가능 여부를 결정하십니다.<br><br>
                                   <img src="/chm/assets_app/imgs/img_faq_08_05.jpg">
                                   <br>예약수락이 되면 <strong>[예약내역에서 확인]</strong>이 가능하며 <strong>[결제하기 버튼]</strong>을 누르셔서 결제를 진행하실 수 있습니다.<br><br>

                                   <img src="/chm/assets_app/imgs/img_faq_08_06.jpg">
                                   <div class="pink_text" align="center"><strong>(주문하신 캐리커쳐는[구매내역에서 확인] 가능합니다.)</strong></div>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
			     <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[주문]출력물이나 액자는 받을수 없나요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse9" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>출력물이나 액자는 현재 준비중에 있으며 빠른 시일내에 지원할 예정입니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
			     <p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[주문]완성작은 어떻게 받는거죠?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse10" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>완성작은 고객님이 가입하신 이메일로 발송됩니다. 작업완료작품의 JPG파일과 서비스컷이 함께 발송됩니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[결제]결제방법을 알고 싶습니다.</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>현재 지원하고 있는 결제수단은 신용카드와 핸드폰소액결제입니다. <span class="pink_text">(핸드폰 소액결제의 경우 알뜰폰은 제외됩니다)</span><br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[결제]결제를 하려고 하는데 오류가 납니다.</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse12" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>결제가 되지 않는 이유는 <strong>[자바스크립트 설정 문제]</strong>일 가능성이 가장 높습니다. 자바스크립트의 설정만 변경시켜주면 해결되는 <strong>[간단한 문제]</strong>입니다.<br><br>
                                <strong>[자바스크립트 설정 방법]</strong><br>
                                갤럭시폰 화면으로 안내드리니 참고해주세요.<br>
                                (1)홈 화면의 [인터넷] 브라우저를 실행해주세요.<br>
                                (2)왼쪽 하단의 목록 버튼을 누르시고 [더보기]를 선택해주세요.<br>
                                (3)항목 중에서 [설정] 항목을 선택해주세요.<br>
                                (4)[자바 스크립트 실행] 및 [쿠키 허용] 항목의 체크박스를 [V]
                                    선택해주세요.<br>
                                (5)자바스크립트 설정이 변경되었으니, 다시한번 결제를 시도해
                                주세요<br><br>
                                만약, 모바일 기기에서 브라우저 설정 후에도 결제가 어려우시
                                면 <strong>[캐리커쳐마키 카카오아이디]</strong> 로 문의를 해주시면 신속하게
                                도움을 드리도록 하겠습니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[결제]결제 후 취소가 가능한가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse13" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>예약상태에서는 예약취소가 가능하나 <strong>[결제이후에는 취소가 불가능]</strong> 합니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[기타]단체주문 방법은 어떻게 되죠?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse14" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>저희 캐리커쳐 마키에서는 기업들을 위한 단체주문을 받고 있습니다. 단체주문은 <strong>[캐리커쳐마키 카카오아이디]</strong> 로 문의를 해주시면 신속하게 도움을 드리도록 하겠습니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[기타]세금계산서 발행이 가능한가요?</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse15" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>저희 캐리커쳐 마키에서는 기업고객님들을 위한 세금계산서를 발행하고 있습니다. 단 세금계산서를 발급을 원하시는 분들은 <strong>[스타일 상세보기 페이지]</strong> 의 <strong>[단체주문상담]</strong>버튼으로 문의 후 주문을 해주셔야 가능합니다.<br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                    <!--panel 공지패널시작-->
                    <div class="panel panel-default">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                            <!--공지 제목 시작-->
                            <div class="panel-heading">
                                <div class="dropdown">
									<p><img id="icon_img" class="icon_img" src="/chm/assets_app/imgs/icon_dropdown.png"></p>
                                </div>
                                <div class="notice_title">
                                	<p>
                                        <span class="title">[기타]캐리커쳐 마키에서 작가로 활동하고 싶습니다.</span>
                                        <span class="date"></span>
                                    </p>
                                </div>
                            </div>
                            <!--/공지 제목 끝-->
                        </a>
                        <!--공지 내용 시작-->
                        <div id="collapse16" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>저희 캐리커쳐 마키에서는 함께 활동하실 유능한 작가님들을 모집하고 있습니다. 저희와 함께 활동하기를 원하시는 작가님들은 <strong>[our@omybrand.com]</strong>으로 메일을 보내주세요.<span class="pink_text">(내부 회의후에 보내주신 이메일로 개별 통지해 드립니다.)</span><br>
                                </p>
                            </div>
                        </div>
                        <!--공지 내용 끝-->
                    </div>
                    <!-- /.panel 공지패널끝 -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.0 -->
    <script src="/chm/assets_app/js/jquery-1.11.0.js"></script>
    <script type="text/javascript">
    //<![CDATA[
	/* swap open/close side menu icons */
	$('[data-toggle=collapse]').click(function(){
		// toggle icon
                      var src = $(this).find("#icon_img").attr("src");

                      $('.icon_img').attr("src", "/chm/assets_app/imgs/icon_dropdown.png");

                      $(this).find("#icon_img").attr("src", src);

		if ($(this).find("#icon_img").attr("src") == "/chm/assets_app/imgs/icon_dropdown.png") {
			$(this).find("#icon_img").attr("src", "/chm/assets_app/imgs/icon_dropdown_rotate.png");
		} else {
			$(this).find("#icon_img").attr("src", "/chm/assets_app/imgs/icon_dropdown.png");
		}
	});
        ;
    //]]>
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/chm/assets_app/js/bootstrap.min.js"></script>

</body>

</html>
